<!doctype html>
<title>HW5: GET and POST checker</title>
<h1>HW5: GET and POST checker</h1>
<form action="/post" method="post">
    <ul>
<li><input type="text" name="First" placeholder = 'Enter First Name' /></li>
<li><input type="text" name="Last" placeholder = "Enter Last Name" /></li>
    </ul>
    <button type="submit">Submit</button>
</form>
